# ── API ──
EXPO_PUBLIC_API_URL=http://localhost:3000/api/v1
EXPO_PUBLIC_WS_URL=http://localhost:3000

# ── Auth ──
EXPO_PUBLIC_CLERK_PUBLISHABLE_KEY=pk_test_...

# ── Push Notifications ──
EXPO_PUBLIC_PROJECT_ID=d5a4cde9-ecd1-4d17-bfb1-1d84fccd4b89

# ── Monitoring ──
EXPO_PUBLIC_SENTRY_DSN=

# ── GIPHY SDK ──
EXPO_PUBLIC_GIPHY_API_KEY=
